body{
    background-color: #000030;
    font-family: 'Poppins', sans-serif;
    color: white;
   
}
.form-control{
    border-bottom: 0.5px solid white!important;
}
#inputPassword5{
    border-bottom: 0.5px solid white!important;
    background-color: #000030;
 }

 /* .box_1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: flex-start;
 } */

 .box_2{
    border: 1px solid rgb(235, 223, 223);
 }

 
 

h1{
  font-family: 'Roboto', sans-serif;
}

#changingText {
  color: #ffd166;
  border-right: 1px solid black;
  border-right: 2px solid;
  animation: cursoranim 800 steps(12),
  blink .5s step-end infinite alternate;
  color: green;
}

@keyframes cursoranim {
  50% {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}
@keyframes blink {
    50%{
      border-color: transparent;
    }
  }
