.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 0px;


}
.header-main{

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
    padding-right: 30px;
    /* position: fixed; */
    width: 100%;
    background-color: #02001A;
}
.header .logo{
	padding: 0 15px;
    display: block;
    margin-bottom: 2px;
    margin-left: 20px;
}


.header .logo a img{

    width: 60px;
    cursor: pointer;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
    transform: rotateX(360deg) scale(0.3) ;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
    background-color: white;
}
.header .menu > .menu-item > a .plus:after{
   background-color: white;
}

.header .menu > .menu-item:hover > a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    /* transform: translateX(40%); */
    /* transform: rotateZ(360deg) scale(1)!important ; */
    /* transform: translate(-50%); */
    /* border-bottom-left-radius: 80%; */
    transition: all ease-in-out 0.5s;
    border-bottom-right-radius: 20%;
    
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover{
    background: rgba( 0, 0, 48, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    padding: 10px;
    transform: translateX(10%);
    transition: all ease-in-out 0.5s;

}

.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background: rgba( 88, 87, 109, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding: 10px 0;
	transform: translateY(10px);
	transition: all 1s ease;
	opacity:0;
	visibility: hidden;

}
    @media(min-width: 992px){

    .header .menu > .menu-item-has-children:hover > .sub-menu{
    	transform: translateY(0);
    	opacity: 1;
    	visibility: visible;
     }
     .header .menu > .menu-item-has-children:hover > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);		
     }
    }
    .header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #ffffff;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
    background-color: #ffffff;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 100%;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/
